.overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    justify-content: center;
    align-items: center;
}

.loaderScreen {
    border: 5px solid #f24900;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    display: flex;
    justify-content: center;
    animation: borderFlow 1s linear infinite;
    padding: 5px;
    background: white;
    outline: 5px solid white;
}

@keyframes borderFlow {

    0%,
    100% {
        border-color: #f24900;
        /* Starting and ending color */
    }

    50% {
        border-color: gray;
        /* Middle color */
    }
}














body {

    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

}

/* Use This below css for loader */
.loader {
    width: 80px;
    height: 80px;
    border: 3px solid #FFF;
    border-bottom-color: #1c34a4;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader_body {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50rem;
    overflow: hidden;
}

.loader_body img {
    width: 40px;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    margin: 0 auto;
    display: block;
}