            
<div class="wrapper">
  <!-- ========== Left Sidebar Start ========== -->
  <div class="leftside-menu">
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
      <span class="logo-lg">
        <img src="assets/images/logo/logo.svg" alt="" height="40" />
      </span>
      <span class="logo-sm">
        <img src="assets/images/logo/favicon.png" alt="" height="40" />
      </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">
      <!--- Sidemenu -->
      <ul class="side-nav">
        <li class="side-nav-item">
          <a class="side-nav-link" href="index.html" title="Home">
            <i class="uil-home-alt"></i>
            <span> Dashboard</span>
          </a>
        </li>

        <li class="side-nav-item">
          <a
            data-bs-toggle="collapse"
            href="#sidebarMore"
            aria-expanded="false"
            aria-controls="sidebarMore"
            class="side-nav-link"
          >
            <i class="uil uil-apps"></i>
            <span> More </span>
            <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarMore">
            <ul class="side-nav-second-level">
              <li>
                <a href="login.html">Login</a>
              </li>
              <li>
                <a href="SignUp.html">Sign Up</a>
              </li>
              <li>
                <a href="forgotPass.html">Forgot Password</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="side-nav-item">
          <a data-bs-toggle="collapse" href="#sidebarMultiLevel" aria-expanded="false" aria-controls="sidebarMultiLevel" class="side-nav-link collapsed">
              <i class="uil-folder-plus"></i>
              <span> Master </span>
              <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarMultiLevel" style="">
              <ul class="side-nav-second-level">
                  <li class="side-nav-item">
                      <a data-bs-toggle="collapse" href="#supplierNav" aria-expanded="false" aria-controls="supplierNav" class="collapsed">
                          <span> Supplier </span>
                          <span class="menu-arrow"></span>
                      </a>
                      <div class="collapse" id="supplierNav" style="">
                          <ul class="side-nav-third-level ms-2">
                              <li>
                                  <a href="javascript: void(0);">Supplier List</a>
                              </li>
                              <li>
                                  <a href="javascript: void(0);">Supplier Details</a>
                              </li>
                          </ul>
                      </div>
                  </li>
                  <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#customerNav" aria-expanded="false" aria-controls="customerNav" class="collapsed">
                        <span> Customer </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="customerNav" style="">
                        <ul class="side-nav-third-level ms-2">
                            <li>
                                <a href="javascript: void(0);">Customer List</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Customer Details</a>
                            </li>
                        </ul>
                    </div>
                </li>
                 
              </ul>
          </div>
      </li>
        <li class="side-nav-item">
          <a href="#" class="side-nav-link">
            <i class="uil-cog"></i>
            <span> Settings </span>
          </a>
        </li>
      </ul>

      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
  </div>
  <!-- Left Sidebar End -->

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">
      <!-- Topbar Start -->
      <div class="navbar-custom">
        <ul class="list-unstyled topbar-menu float-end mb-0">
          <li class="dropdown notification-list d-lg-none ms-auto">
            <a
              class="nav-link dropdown-toggle arrow-none"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="false"
              aria-expanded="false"
            >
              <i class="dripicons-search noti-icon"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-animated dropdown-lg p-0 "
            >
              <form class="p-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search ..."
                  aria-label="Search"
                />
              </form>
            </div>
          </li>

          <li class="notification-list">
            <a class="nav-link arrow-none">
              <i class="dripicons-bell noti-icon"></i>
              <span class="noti-icon-badge"></span>
            </a>
          </li>

          <li class="dropdown notification-list">
            <a
              class="nav-link nav-user arrow-none me-0"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="false"
              aria-expanded="false"
            >
              <span class="account-user-avatar">
                <img
                  src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="user-image"
                  class="rounded-circle"
                />
              </span>
              <span>
                <span class="account-user-name">User Name</span>
                <span class="account-position">Manager</span>
              </span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"
            >
              <!-- item-->
              <a
                href="javascript:void(0);"
                class="dropdown-item notify-item"
              >
                <i class="mdi mdi-account-circle me-1"></i>
                <span>My Account</span>
              </a>

              <!-- item-->
              <a
                href="javascript:void(0);"
                class="dropdown-item notify-item"
              >
                <i class="mdi mdi-account-edit me-1"></i>
                <span>Settings</span>
              </a>

              <!-- item-->
              <a
                href="javascript:void(0);"
                class="dropdown-item notify-item"
              >
                <i class="mdi mdi-logout me-1"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
        <button class="button-menu-mobile open-left">
          <i class="mdi mdi-menu"></i>
        </button>
        <div class="app-search dropdown d-none">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                id="top-search"
              />
              <span class="mdi mdi-magnify search-icon"></span>
              <button class="input-group-text btn-primary" type="submit">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- end Topbar -->

      <!-- Start Content-->
      <div class="container-fluid ">
        <!-- start page title -->
    
            <div class="page-title-box">
              <h4 class="page-title">Work List Page</h4>
            </div>
         
        <!-- end page title -->
       <div class="masterTabs">
        <ul class="nav nav-tabs nav-bordered border-0 shadow-sm mb-3">
          <li class="nav-item">
              <a href="#Sales-b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link active d-flex gap-1">
                  <i class="mdi mdi-finance "></i>
                  <span class="d-none d-md-block">Sales</span>
              </a>
          </li>
          <li class="nav-item">
              <a href="#Purchase-b1" data-bs-toggle="tab" aria-expanded="true" class="nav-link d-flex gap-1">
                  <i class="mdi mdi-cart-check"></i>
                  <span class="d-none d-md-block">Purchase</span>
              </a>
          </li>
          <li class="nav-item">
              <a href="#settings-b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link  d-flex gap-1">
                  <i class="uil uil-users-alt"></i>
                  <span class="d-none d-md-block">Job Worker</span>
              </a>
          </li>
          <li class="nav-item">
            <a href="#CRM-b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link  d-flex gap-1">
                <i class="mdi mdi-application-cog "></i>
                <span class="d-none d-md-block">CRM</span>
            </a>
        </li>
        </ul>
      
      <div class="tab-content bg-white subTabs" >
          <div class="tab-pane show active" id="Sales-b1">
              <ul class="nav nav-tabs nav-bordered border-0 mb-3">
                <li class="nav-item">
                    <a href="#PaymentToBeCollected" data-bs-toggle="tab" aria-expanded="false" class="nav-link active pb-0 ">
                        <!-- <i class="mdi mdi-finance "></i> -->
                        <span >Payment To Be Collected</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#ChequeToBeDeposited" data-bs-toggle="tab" aria-expanded="true" class="nav-link  pb-0">
                        <!-- <i class="mdi mdi-cart-check"></i> -->
                        <span >Cheque To Be Deposited</span>
                    </a>
                </li>
                
              </ul>
            
              <div class="tab-content bg-white" >
                  <div class="tab-pane show active" id="PaymentToBeCollected">
                    <div class="topSearch">
                      <div class="form">
                      <div class="row align-items-center">
                        <div class="col-lg-3 mt-1">
                          <div class="d-flex gap-3">
                            <label for="example-date" class="form-label "  style="width: 50%;">Start Date</label>
                            <input class="form-control" id="example-date" type="date" name="date">
                        </div>
                        </div>
                        <div class="col-lg-3  mt-1">
                          <div class="d-flex gap-3">
                            <label for="example-date" class="form-label " style="width: 50%;">End Date</label>
                            <input class="form-control" id="example-date" type="date" name="date">
                        </div>
                        </div>
                        <div class="col-lg-1">                      
                          <div class="btn btn-primary">Search</div>
                        </div>
                        <div class="col-lg-2 ms-auto text-end">
                          <button type="button" class="btn btn-light"><i class="uil uil-filter-slash me-1"></i> <span>Clear all</span> </button>
                        </div>
                        
                      </div>                   
                      </div>
                    </div>
    
                  <div class="table-responsive mt-3">
                    <table class="table table-bordered table-sm mb-0">
                      <thead class="bg-light">
                          <tr>
                              
                            <th scope="col">
                              <span id="masterNo">Master No.</span>
                              <input id="masterNoSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                          
                            <span class="text-end "> <i id="searchIconNo" class="mdi mdi-filter-outline"></i></span>
                              </th>
                              <th scope="col">
                                <span id="masterName">Master Name</span>
                                <input id="masterNameSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                                <i id="searchIconName" class="mdi mdi-filter-outline"></i>
                                </th>
                              
                              <th scope="col">Master Date</th>
                              <th scope="col">Master Amount</th>
                              <th scope="col">Master Description</th>
                              <th scope="col"  style="width: 2%;">Message</th>
                              <th scope="col" style="width: 2%;">CRM</th>
                          </tr>
                      </thead>
                      <tbody >
                          <tr>
                              <td>Khashish</td>
                              <td>INV0000071</td>
                              <td>08/4/2019</td>
                              <td>15,852.00</td>
                              <td>Bal : 15, 852</td>
                              <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                              <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                          </tr>                
                          <tr>
                              <td>Khashish</td>
                              <td>INV0000071</td>
                              <td>08/4/2019</td>
                              <td>15,852.00</td>
                              <td>Bal : 15, 852</td>
                              <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                              <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                          </tr>  
                          <tr>
                            <td>Khashish</td>
                          <td>INV0000071</td>
                          <td>08/4/2019</td>
                          <td>15,852.00</td>
                          <td>Bal : 15, 852</td>
                          <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                          <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                      </tr>  
                      <tr>
                        <td>Khashish</td>
                      <td>INV0000071</td>
                      <td>08/4/2019</td>
                      <td>15,852.00</td>
                      <td>Bal : 15, 852</td>
                      <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                      <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                  </tr>  
                  <tr>
                    <td>Khashish</td>
                  <td>INV0000071</td>
                  <td>08/4/2019</td>
                  <td>15,852.00</td>
                  <td>Bal : 15, 852</td>
                  <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                  <td class="text-center"><i  class="uil uil-users-alt"></i></td>
              </tr>  
              <tr>
                <td>Khashish</td>
              <td>INV0000071</td>
              <td>08/4/2019</td>
              <td>15,852.00</td>
              <td>Bal : 15, 852</td>
              <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
              <td class="text-center"><i  class="uil uil-users-alt"></i></td>
          </tr>  
          <tr>
            <td>Khashish</td>
          <td>INV0000071</td>
          <td>08/4/2019</td>
          <td>15,852.00</td>
          <td>Bal : 15, 852</td>
          <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
          <td class="text-center"><i  class="uil uil-users-alt"></i></td>
      </tr>  
                      </tbody>
                  </table>
                  </div>
                  </div>
                  <div class="tab-pane " id="ChequeToBeDeposited">
                    <div class="topSearch">
                      <div class="form">
                      <div class="row align-items-center">
                        <div class="col-lg-3">
                          <div class="d-flex gap-3">
                            <label for="example-date" class="form-label "  style="width: 50%;">Start Date</label>
                            <input class="form-control" id="example-date" type="date" name="date">
                        </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="d-flex gap-3">
                            <label for="example-date" class="form-label " style="width: 50%;">End Date</label>
                            <input class="form-control" id="example-date" type="date" name="date">
                        </div>
                        </div>
                        <div class="col-lg-1">                      
                          <div class="btn btn-primary">Search</div>
                        </div>
                        <div class="col-lg-5 ms-auto text-end">
                          <button type="button" class="btn btn-light"><i class="uil uil-print me-1"></i> <span>Print</span> </button>
                          <span type="button" class="btn btn-light"><i class="uil uil-filter-slash me-1"></i> <span>Clear all</span> </span>
                        </div>
                        
                      </div>                   
                      </div>
                    </div>
    
                  <div class="table-responsive mt-3">
                    <table class="table table-bordered table-sm mb-0">
                      <thead class="bg-light">
                          <tr>
                              
                            <th scope="col">
                              <span id="masterNo">Master No.</span>
                              <input id="masterNoSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                          
                            <span class="text-end "> <i id="searchIconNo" class="mdi mdi-filter-outline"></i></span>
                              </th>
                              <th scope="col">
                                <span id="masterName">Master Name</span>
                                <input id="masterNameSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                                <i id="searchIconName" class="mdi mdi-filter-outline"></i>
                                </th>
                              
                              <th scope="col">Master Date</th>
                              <th scope="col">Master Amount</th>
                              <th scope="col">Master Description</th>
                              <th scope="col"  style="width: 2%;">Message</th>
                              <th scope="col" style="width: 2%;">CRM</th>
                              <th scope="col" class="text-center" > <i class="mdi mdi-select-multiple" style="font-size: 22px;"></i></th>
                          </tr>
                      </thead>
                      <tbody >
                          <tr>
                              <td>Khashish</td>
                              <td>INV0000071</td>
                              <td>08/4/2019</td>
                              <td>15,852.00</td>
                              <td>Bal : 15, 852</td>
                              <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                              <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                              <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                          </tr>                
                          <tr>
                              <td>Khashish</td>
                              <td>INV0000071</td>
                              <td>08/4/2019</td>
                              <td>15,852.00</td>
                              <td>Bal : 15, 852</td>
                              <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                              <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                              <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                          </tr>  
                         
                      <tr>
                        <td>Khashish</td>
                      <td>INV0000071</td>
                      <td>08/4/2019</td>
                      <td>15,852.00</td>
                      <td>Bal : 15, 852</td>
                      <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                      <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                      <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                  </tr>  
                
               
          <tr>
            <td>Khashish</td>
          <td>INV0000071</td>
          <td>08/4/2019</td>
          <td>15,852.00</td>
          <td>Bal : 15, 852</td>
          <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
          <td class="text-center"><i  class="uil uil-users-alt"></i></td>
          <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
      </tr>  
                      </tbody>
                  </table>
                  </div>
                  </div>
                  
              </div>                
          </div>
          <div class="tab-pane " id="Purchase-b1">
            <div class="topSearch">
              <div class="form">
              <div class="row align-items-center">
                <div class="col-lg-3 mt-1">
                  <div class="d-flex gap-3">
                    <label for="example-date" class="form-label "  style="width: 50%;">Start Date</label>
                    <input class="form-control" id="example-date" type="date" name="date">
                </div>
                </div>
                <div class="col-lg-3  mt-1">
                  <div class="d-flex gap-3">
                    <label for="example-date" class="form-label " style="width: 50%;">End Date</label>
                    <input class="form-control" id="example-date" type="date" name="date">
                </div>
                </div>
                <div class="col-lg-1">                      
                  <div class="btn btn-primary">Search</div>
                </div>
                <div class="col-lg-2 ms-auto text-end">
                  <button type="button" class="btn btn-light"><i class="uil uil-filter-slash me-1"></i> <span>Clear all</span> </button>
                </div>
                
              </div>                   
              </div>
            </div>
            <ul class="nav nav-tabs nav-bordered border-0 mb-3 mt-3">
              <li class="nav-item">
                  <a href="#PaymentToBeMade" data-bs-toggle="tab" aria-expanded="false" class="nav-link active pb-0 ">
                      <!-- <i class="mdi mdi-finance "></i> -->
                      <span >Payment To Be Made</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#paymentsCreated" data-bs-toggle="tab" aria-expanded="true" class="nav-link  pb-0">
                      <!-- <i class="mdi mdi-cart-check"></i> -->
                      <span >Payment Created</span>
                  </a>
              </li>
              
            </ul>
          
            <div class="tab-content bg-white" >
              
                <div class="tab-pane show active" id="PaymentToBeMade">
                
  
                <div class="table-responsive mt-3">
                  <table class="table table-bordered table-sm mb-0">
                    <thead class="bg-light">
                        <tr>
                            
                          <th scope="col">
                            <span id="masterNo">Master No.</span>
                            <input id="masterNoSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                        
                          <span class="text-end "> <i id="searchIconNo" class="mdi mdi-filter-outline"></i></span>
                            </th>
                            <th scope="col">
                              <span id="masterName">Master Name</span>
                              <input id="masterNameSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                              <i id="searchIconName" class="mdi mdi-filter-outline"></i>
                              </th>
                            
                            <th scope="col">Master Date</th>
                            <th scope="col">Master Amount</th>
                            <th scope="col">Master Description</th>
                            <th scope="col"  style="width: 2%;">Message</th>
                            <th scope="col" style="width: 2%;">CRM</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>Khashish</td>
                            <td>INV0000071</td>
                            <td>08/4/2019</td>
                            <td>15,852.00</td>
                            <td>Bal : 15, 852</td>
                            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                        </tr>                
                        <tr>
                            <td>Khashish</td>
                            <td>INV0000071</td>
                            <td>08/4/2019</td>
                            <td>15,852.00</td>
                            <td>Bal : 15, 852</td>
                            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                        </tr>  
                        <tr>
                          <td>Khashish</td>
                        <td>INV0000071</td>
                        <td>08/4/2019</td>
                        <td>15,852.00</td>
                        <td>Bal : 15, 852</td>
                        <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                        <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                    </tr>  
                    <tr>
                      <td>Khashish</td>
                    <td>INV0000071</td>
                    <td>08/4/2019</td>
                    <td>15,852.00</td>
                    <td>Bal : 15, 852</td>
                    <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                    <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                </tr>  
                <tr>
                  <td>Khashish</td>
                <td>INV0000071</td>
                <td>08/4/2019</td>
                <td>15,852.00</td>
                <td>Bal : 15, 852</td>
                <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                <td class="text-center"><i  class="uil uil-users-alt"></i></td>
            </tr>  
            <tr>
              <td>Khashish</td>
            <td>INV0000071</td>
            <td>08/4/2019</td>
            <td>15,852.00</td>
            <td>Bal : 15, 852</td>
            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
        </tr>  
        <tr>
          <td>Khashish</td>
        <td>INV0000071</td>
        <td>08/4/2019</td>
        <td>15,852.00</td>
        <td>Bal : 15, 852</td>
        <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
        <td class="text-center"><i  class="uil uil-users-alt"></i></td>
    </tr>  
                    </tbody>
                </table>
                </div>
                </div>
                <div class="tab-pane " id="paymentsCreated">
                 
                <div class="table-responsive mt-3">
                  <table class="table table-bordered table-sm mb-0">
                    <thead class="bg-light">
                        <tr>
                            
                          <th scope="col">
                            <span id="masterNo">Master No.</span>
                            <input id="masterNoSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                        
                          <span class="text-end "> <i id="searchIconNo" class="mdi mdi-filter-outline"></i></span>
                            </th>
                            <th scope="col">
                              <span id="masterName">Master Name</span>
                              <input id="masterNameSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                              <i id="searchIconName" class="mdi mdi-filter-outline"></i>
                              </th>
                            
                            <th scope="col">Master Date</th>
                            <th scope="col">Master Amount</th>
                            <th scope="col">Master Description</th>
                            <th scope="col"  style="width: 2%;">Message</th>
                            <th scope="col" style="width: 2%;">CRM</th>
                            <th scope="col" class="text-center" > <i class="mdi mdi-select-multiple" style="font-size: 22px;"></i></th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>Khashish</td>
                            <td>INV0000071</td>
                            <td>08/4/2019</td>
                            <td>15,852.00</td>
                            <td>Bal : 15, 852</td>
                            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                            <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                        </tr>                
                        <tr>
                            <td>Khashish</td>
                            <td>INV0000071</td>
                            <td>08/4/2019</td>
                            <td>15,852.00</td>
                            <td>Bal : 15, 852</td>
                            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                            <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                        </tr>  
                       
                        <tr>
                          <td>Khashish</td>
                          <td>INV0000071</td>
                          <td>08/4/2019</td>
                          <td>15,852.00</td>
                          <td>Bal : 15, 852</td>
                          <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                          <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                          <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                        </tr>  
              
             
                        <tr>
                          <td>Khashish</td>
                          <td>INV0000071</td>
                          <td>08/4/2019</td>
                          <td>15,852.00</td>
                          <td>Bal : 15, 852</td>
                          <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                          <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                          <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                        </tr>  
                 </tbody>
                </table>
                </div>
                </div>
                
            </div>  
          </div>
          <div class="tab-pane" id="settings-b1">
            <div class="topSearch">
              <div class="form">
              <div class="row align-items-center">
                <div class="col-lg-3 mt-1">
                  <div class="d-flex gap-3">
                    <label for="example-date" class="form-label "  style="width: 50%;">Start Date</label>
                    <input class="form-control" id="example-date" type="date" name="date">
                </div>
                </div>
                <div class="col-lg-3  mt-1">
                  <div class="d-flex gap-3">
                    <label for="example-date" class="form-label " style="width: 50%;">End Date</label>
                    <input class="form-control" id="example-date" type="date" name="date">
                </div>
                </div>
                <div class="col-lg-1">                      
                  <div class="btn btn-primary">Search</div>
                </div>
                <div class="col-lg-2 ms-auto text-end">
                  <button type="button" class="btn btn-light"><i class="uil uil-filter-slash me-1"></i> <span>Clear all</span> </button>
                </div>
                
              </div>                   
              </div>
            </div>
            <ul class="nav nav-tabs nav-bordered border-0 mb-3 mt-3">
              <li class="nav-item">
                  <a href="#ABC" data-bs-toggle="tab" aria-expanded="false" class="nav-link active pb-0 ">
                      <!-- <i class="mdi mdi-finance "></i> -->
                      <span >ABC</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#XYZ" data-bs-toggle="tab" aria-expanded="true" class="nav-link  pb-0">
                      <!-- <i class="mdi mdi-cart-check"></i> -->
                      <span >XYZ</span>
                  </a>
              </li>
              
            </ul>
          
            <div class="tab-content bg-white" >
              
                <div class="tab-pane show active" id="ABC">
                
  
                <div class="table-responsive mt-3">
                  <table class="table table-bordered table-sm mb-0">
                    <thead class="bg-light">
                        <tr>
                            
                          <th scope="col">
                            <span id="masterNo">Master No.</span>
                            <input id="masterNoSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                        
                          <span class="text-end "> <i id="searchIconNo" class="mdi mdi-filter-outline"></i></span>
                            </th>
                            <th scope="col">
                              <span id="masterName">Master Name</span>
                              <input id="masterNameSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                              <i id="searchIconName" class="mdi mdi-filter-outline"></i>
                              </th>
                            
                            <th scope="col">Master Date</th>
                            <th scope="col">Master Amount</th>
                            <th scope="col">Master Description</th>
                            <th scope="col"  style="width: 2%;">Message</th>
                            <th scope="col" style="width: 2%;">CRM</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>Khashish</td>
                            <td>INV0000071</td>
                            <td>08/4/2019</td>
                            <td>15,852.00</td>
                            <td>Bal : 15, 852</td>
                            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                        </tr>                
                        <tr>
                            <td>Khashish</td>
                            <td>INV0000071</td>
                            <td>08/4/2019</td>
                            <td>15,852.00</td>
                            <td>Bal : 15, 852</td>
                            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                        </tr>  
                        <tr>
                          <td>Khashish</td>
                        <td>INV0000071</td>
                        <td>08/4/2019</td>
                        <td>15,852.00</td>
                        <td>Bal : 15, 852</td>
                        <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                        <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                    </tr>  
                    <tr>
                      <td>Khashish</td>
                    <td>INV0000071</td>
                    <td>08/4/2019</td>
                    <td>15,852.00</td>
                    <td>Bal : 15, 852</td>
                    <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                    <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                </tr>  
                <tr>
                  <td>Khashish</td>
                <td>INV0000071</td>
                <td>08/4/2019</td>
                <td>15,852.00</td>
                <td>Bal : 15, 852</td>
                <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                <td class="text-center"><i  class="uil uil-users-alt"></i></td>
            </tr>  
            <tr>
              <td>Khashish</td>
            <td>INV0000071</td>
            <td>08/4/2019</td>
            <td>15,852.00</td>
            <td>Bal : 15, 852</td>
            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
        </tr>  
        <tr>
          <td>Khashish</td>
        <td>INV0000071</td>
        <td>08/4/2019</td>
        <td>15,852.00</td>
        <td>Bal : 15, 852</td>
        <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
        <td class="text-center"><i  class="uil uil-users-alt"></i></td>
    </tr>  
                    </tbody>
                </table>
                </div>
                </div>
                <div class="tab-pane " id="XYZ">
                 
                <div class="table-responsive mt-3">
                  <table class="table table-bordered table-sm mb-0">
                    <thead class="bg-light">
                        <tr>
                            
                          <th scope="col">
                            <span id="masterNo">Master No.</span>
                            <input id="masterNoSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                        
                          <span class="text-end "> <i id="searchIconNo" class="mdi mdi-filter-outline"></i></span>
                            </th>
                            <th scope="col">
                              <span id="masterName">Master Name</span>
                              <input id="masterNameSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                              <i id="searchIconName" class="mdi mdi-filter-outline"></i>
                              </th>
                            
                            <th scope="col">Master Date</th>
                            <th scope="col">Master Amount</th>
                            <th scope="col">Master Description</th>
                            <th scope="col"  style="width: 2%;">Message</th>
                            <th scope="col" style="width: 2%;">CRM</th>
                            <th scope="col" class="text-center" > <i class="mdi mdi-select-multiple" style="font-size: 22px;"></i></th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td>Khashish</td>
                            <td>INV0000071</td>
                            <td>08/4/2019</td>
                            <td>15,852.00</td>
                            <td>Bal : 15, 852</td>
                            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                            <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                        </tr>                
                        <tr>
                            <td>Khashish</td>
                            <td>INV0000071</td>
                            <td>08/4/2019</td>
                            <td>15,852.00</td>
                            <td>Bal : 15, 852</td>
                            <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                            <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                            <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                        </tr>  
                       
                        <tr>
                          <td>Khashish</td>
                          <td>INV0000071</td>
                          <td>08/4/2019</td>
                          <td>15,852.00</td>
                          <td>Bal : 15, 852</td>
                          <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                          <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                          <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                        </tr>  
              
             
                        <tr>
                          <td>Khashish</td>
                          <td>INV0000071</td>
                          <td>08/4/2019</td>
                          <td>15,852.00</td>
                          <td>Bal : 15, 852</td>
                          <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                          <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                          <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                        </tr>  
                 </tbody>
                </table>
                </div>
                </div>
                
            </div> 
          </div>
          <div class="tab-pane" id="CRM-b1">
            <div class="topSearch">
              <div class="form">
              <div class="row align-items-center">
                <div class="col-lg-3 mt-1">
                  <div class="d-flex gap-3">
                    <label for="example-date" class="form-label "  style="width: 50%;">Start Date</label>
                    <input class="form-control" id="example-date" type="date" name="date">
                </div>
                </div>
                <div class="col-lg-3  mt-1">
                  <div class="d-flex gap-3">
                    <label for="example-date" class="form-label " style="width: 50%;">End Date</label>
                    <input class="form-control" id="example-date" type="date" name="date">
                </div>
                </div>
                <div class="col-lg-1">                      
                  <div class="btn btn-primary">Search</div>
                </div>
                <div class="col-lg-2 ms-auto text-end">
                  <button type="button" class="btn btn-light"><i class="uil uil-filter-slash me-1"></i> <span>Clear all</span> </button>
                </div>
                
              </div>                   
              </div>
            </div>
            <div class="table-responsive mt-3">
              <table class="table table-bordered table-sm mb-0">
                <thead class="bg-light">
                    <tr>
                        
                      <th scope="col">
                        <span id="masterNo">Master No.</span>
                        <input id="masterNoSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                    
                      <span class="text-end "> <i id="searchIconNo" class="mdi mdi-filter-outline"></i></span>
                        </th>
                        <th scope="col">
                          <span id="masterName">Master Name</span>
                          <input id="masterNameSearchInput" type="search" class="form-control form-control-sm"  placeholder="" style="display: none;">
                          <i id="searchIconName" class="mdi mdi-filter-outline"></i>
                          </th>
                        
                        <th scope="col">Master Date</th>
                        <th scope="col">Master Amount</th>
                        <th scope="col">Master Description</th>
                        <th scope="col"  style="width: 2%;">Message</th>
                        <th scope="col" style="width: 2%;">CRM</th>
                        <th scope="col" class="text-center" > <i class="mdi mdi-select-multiple" style="font-size: 22px;"></i></th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td>Khashish</td>
                        <td>INV0000071</td>
                        <td>08/4/2019</td>
                        <td>15,852.00</td>
                        <td>Bal : 15, 852</td>
                        <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                        <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                        <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                    </tr>                
                    <tr>
                        <td>Khashish</td>
                        <td>INV0000071</td>
                        <td>08/4/2019</td>
                        <td>15,852.00</td>
                        <td>Bal : 15, 852</td>
                        <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                        <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                        <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                    </tr>  
                   
                    <tr>
                      <td>Khashish</td>
                      <td>INV0000071</td>
                      <td>08/4/2019</td>
                      <td>15,852.00</td>
                      <td>Bal : 15, 852</td>
                      <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                      <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                      <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                    </tr>  
          
         
                    <tr>
                      <td>Khashish</td>
                      <td>INV0000071</td>
                      <td>08/4/2019</td>
                      <td>15,852.00</td>
                      <td>Bal : 15, 852</td>
                      <td class="text-center"><i  class="mdi mdi-email" data-bs-toggle="modal" data-bs-target="#sendMail-modal"></i></td>
                      <td class="text-center"><i  class="uil uil-users-alt"></i></td>
                      <td class="text-center">   <input type="checkbox" class="form-check-input" ></td>
                    </tr>  
             </tbody>
            </table>
            </div>
          </div>
      </div>

       </div>
   

      </div>
      <!-- container -->
    </div>
    <!-- content -->


    <!-- Signup modal-->
<div id="sendMail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-body">
           

            <form class="ps-3 pe-3 mt-3" action="#">  
              <p class="fw-semibold"> Please confirm details to be send by SMS </p>               

                <div class="mb-3">
                    <label for="emailaddress" class="form-label">Email address</label>
                    <input class="form-control" type="email" id="emailaddress" required="" placeholder="john@deo.com">
                </div>

                <div class="mb-3">
                  <label for="example-textarea" class="form-label">Message</label>
                  <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                </div>


                <div class="mb-3 text-center">
                  <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Send Mail</button>
                </div>

            </form>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- Footer Start -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 align-item-center">
            <script>
              document.write(new Date().getFullYear());
            </script>
            © vncconsultancy
          </div>
        </div>
      </div>
    </footer>
    <!-- end Footer -->
  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
</div>
<!-- END wrapper -->