<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center">
                    <a href="index.html" class="logo-dark">
                        <span><img src="assets/images/logo/logo.svg" alt="" height="40"></span>
                    </a>
                    <a href="index.html" class="logo-light">
                        <span><img src="assets/images/logo/favicon.png" alt="" height="18"></span>
                    </a>
                </div>

                <!-- title-->
                <h4 class="mt-0">Log In</h4>
                <p class=" mb-4">Enter your email address and password to access account.</p>

                <!-- form -->
                <form action="#">
                    <div class="mb-3">
                        <label for="emailaddress" class="form-label">Email address</label>
                        <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <a href="forgotPass.html" class=" float-end"><small>Forgot your password?</small></a>
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" required="" id="password" placeholder="Enter your password">
                    </div>
                    
                    <div class="d-grid mb-0 text-center">
                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> Log In </button>
                    </div>
                   
                </form>
                <!-- end form-->

                <!-- Footer-->
                <footer class="footer footer-alt">
                    <p class="">Don't have an account? <a href="SignUp.html" class=" ms-1"><b>Sign Up</b></a></p>
                </footer>

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3">Textile business operating aaplication</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ab facilis saepe. Quae ad, rem quasi at laboriosam unde error. Iste in expedita, quae sit minima error esse laboriosam? Nam? 
            </p>
           
        </div> <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->
</div>