            
<div class="wrapper">
  <!-- ========== Left Sidebar Start ========== -->
  <div class="leftside-menu">
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
      <span class="logo-lg">
        <img src="assets/images/logo/logo.svg" alt="" height="40" />
      </span>
      <span class="logo-sm">
        <img src="assets/images/logo/favicon.png" alt="" height="40" />
      </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">
      <!--- Sidemenu -->
      <ul class="side-nav">
        <li class="side-nav-item">
          <a class="side-nav-link" href="index.html" title="Home">
            <i class="uil-home-alt"></i>
            <span> Dashboard</span>
          </a>
        </li>

        <li class="side-nav-item">
          <a
            data-bs-toggle="collapse"
            href="#sidebarMore"
            aria-expanded="false"
            aria-controls="sidebarMore"
            class="side-nav-link"
          >
            <i class="uil uil-apps"></i>
            <span> More </span>
            <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarMore">
            <ul class="side-nav-second-level">
              <li>
                <a href="login.html">Login</a>
              </li>
              <li>
                <a href="SignUp.html">Sign Up</a>
              </li>
              <li>
                <a href="forgotPass.html">Forgot Password</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="side-nav-item">
          <a data-bs-toggle="collapse" href="#sidebarMultiLevel" aria-expanded="false" aria-controls="sidebarMultiLevel" class="side-nav-link collapsed">
              <i class="uil-folder-plus"></i>
              <span> Master </span>
              <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarMultiLevel" style="">
              <ul class="side-nav-second-level">
                  <li class="side-nav-item">
                      <a data-bs-toggle="collapse" href="#supplierNav" aria-expanded="false" aria-controls="supplierNav" class="collapsed">
                          <span> Supplier </span>
                          <span class="menu-arrow"></span>
                      </a>
                      <div class="collapse" id="supplierNav" style="">
                          <ul class="side-nav-third-level ms-2">
                              <li>
                                  <a href="javascript: void(0);">Supplier List</a>
                              </li>
                              <li>
                                  <a href="javascript: void(0);">Supplier Details</a>
                              </li>
                          </ul>
                      </div>
                  </li>
                  <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#customerNav" aria-expanded="false" aria-controls="customerNav" class="collapsed">
                        <span> Customer </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="customerNav" style="">
                        <ul class="side-nav-third-level ms-2">
                            <li>
                                <a [routerLink]="'customer'" >Customer List</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Customer Details</a>
                            </li>
                        </ul>
                    </div>
                </li>
                 
              </ul>
          </div>
      </li>
        <li class="side-nav-item">
          <a href="#" class="side-nav-link">
            <i class="uil-cog"></i>
            <span> Settings </span>
          </a>
        </li>
      </ul>

      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
  </div>
  <!-- Left Sidebar End -->

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page">
    <div class="content">
      <!-- Topbar Start -->
      <div class="navbar-custom">
        <ul class="list-unstyled topbar-menu float-end mb-0">
          <li class="dropdown notification-list d-lg-none ms-auto">
            <a
              class="nav-link dropdown-toggle arrow-none"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="false"
              aria-expanded="false"
            >
              <i class="dripicons-search noti-icon"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-animated dropdown-lg p-0 "
            >
              <form class="p-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search ..."
                  aria-label="Search"
                />
              </form>
            </div>
          </li>

          <li class="notification-list">
            <a class="nav-link arrow-none">
              <i class="dripicons-bell noti-icon"></i>
              <span class="noti-icon-badge"></span>
            </a>
          </li>

          <li class="dropdown notification-list">
            <a
              class="nav-link nav-user arrow-none me-0"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="false"
              aria-expanded="false"
            >
              <span class="account-user-avatar">
                <img
                  src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="user-image"
                  class="rounded-circle"
                />
              </span>
              <span>
                <span class="account-user-name">User Name</span>
                <span class="account-position">Manager</span>
              </span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"
            >
              <!-- item-->
              <a
                href="javascript:void(0);"
                class="dropdown-item notify-item"
              >
                <i class="mdi mdi-account-circle me-1"></i>
                <span>My Account</span>
              </a>

              <!-- item-->
              <a
                href="javascript:void(0);"
                class="dropdown-item notify-item"
              >
                <i class="mdi mdi-account-edit me-1"></i>
                <span>Settings</span>
              </a>

              <!-- item-->
              <a
                href="javascript:void(0);"
                class="dropdown-item notify-item"
              >
                <i class="mdi mdi-logout me-1"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
        <button class="button-menu-mobile open-left">
          <i class="mdi mdi-menu"></i>
        </button>
        <div class="app-search dropdown d-none">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                id="top-search"
              />
              <span class="mdi mdi-magnify search-icon"></span>
              <button class="input-group-text btn-primary" type="submit">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- end Topbar -->

      <!-- Start Content-->

      <div class="container-fluid">
        <router-outlet class="container-fluid "></router-outlet>
      </div>

    
      <!-- container -->
    </div>
    <!-- content -->


    <!-- Signup modal-->
<div id="sendMail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-body">
           

            <form class="ps-3 pe-3 mt-3" action="#">  
              <p class="fw-semibold"> Please confirm details to be send by SMS </p>               

                <div class="mb-3">
                    <label for="emailaddress" class="form-label">Email address</label>
                    <input class="form-control" type="email" id="emailaddress" required="" placeholder="john@deo.com">
                </div>

                <div class="mb-3">
                  <label for="example-textarea" class="form-label">Message</label>
                  <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                </div>


                <div class="mb-3 text-center">
                  <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Send Mail</button>
                </div>

            </form>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- Footer Start -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 align-item-center">
            <script>
              document.write(new Date().getFullYear());
            </script>
            © vncconsultancy
          </div>
        </div>
      </div>
    </footer>
    <!-- end Footer -->
  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
</div>
<!-- END wrapper -->